[Unit]
Description=BonDriverProxyEx
After=network.target

[Service]
Type=simple
; BonDriverProxyEx address port (opentuner_return_delay_time packet_fifo_size tspacket_bufsize)
ExecStart=/usr/local/bin/BonDriverProxyEx 0.0.0.0 1192 0 64 385024
Restart=always

[Install]
WantedBy=multi-user.target
