[Unit]
Description=BonDriverProxy
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/BonDriverProxy -a 0.0.0.0 -p 1192 -b 385024
Restart=always

[Install]
WantedBy=multi-user.target
